<!-- templates/update_student_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student Info</title>
</head>
<body>
    <h1>Update Student Information for {{ student_id }}</h1>
    <form method="POST" action="{{ url_for('update_student_form', student_id = student_id) }}">
        <label for="preferred_genres">Preferred Genres (comma-separated):</label>
        <input type="text" name="preferred_genres" value="{{ ', '.join(student['preferred_genres']) }}" required>
        <p>Available Genres: Biography, Business, Fantasy, General Fiction, History, Horror, Mystery, Philosophy, Psychology,
            Romance, Self-Help, Science Fiction, Thriller</p>
        <br>

        <button type="submit">Update Info</button>
    </form>

    {% if message %}
        <p style="color:green;"><strong>{{ message }}</strong></p>
    {% endif %}

    <!-- Back Button -->
    <form action="{{ url_for('view_student_route') }}" method="post">
        <input type="hidden" name="student_id" value="{{ student_id }}">
        <button type="submit" style="margin-top: 10px;">Back to Account</button>
    </form>

    <form action="{{ url_for('home') }}" method="get">
        <button type="submit" style="margin-top: 10px;">Home</button>
    </form>
</body>
</html>
